@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    background-color: #0d1117;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Шапка с заголовком и кнопками */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Кнопки */
.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #238636;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #2ea043;
}

/* Таблица */
table {
    width: 95%; /* Почти на всю ширину */
    max-width: 1200px; /* Ограничение по ширине */
    border-collapse: collapse;
    margin: 20px auto; /* Центрирование + отступ сверху */
    background: #161b22;
    color: white;
}

table, th, td {
    border: 1px solid #30363d;
    padding: 12px;
    text-align: left;
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Полная высота экрана */
    text-align: center;
}

/* Скрываем стандартный input */
.custom-file-input {
    display: none;
}

/* Кастомная кнопка для выбора файла */
.file-label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.download-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button {
    width: 30px; /* Размер кнопки */
    height: 30px; /* Размер кнопки */
}